# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# Python
__pycache__/
*.pyo
*.pyd
*.py[cod]
*.pdb
*.egg-info/
*.egg
*.whl
*.manifest
*.spec
*.db
db.*
*.DS_Store
*.log
*.pot
*.mo
*.pydevproject
*.sublime-project
*.sublime-workspace
*.coverage
*.cover
*.hypothesis/
*.tox/
*.coverage.*
*.coverage.*
*.coveragerc
*.mypy_cache/
*.pytest_cache/
*.pyc
__pycache__/